/* universal reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* variables (STANDARDIZED COLORS) */
:root {
    --primary-color: rgb(183, 168, 216);
    --secondary-color: rgb(230, 195, 106);
    --light-color: rgb(255, 255, 255);
    --dark-color: rgb(0, 0, 0);
    --hover-color: rgb(211, 211, 211);
    --background-light: rgb(245, 245, 245);
}

/* global */
body {
    font-family: Arial, sans-serif;
    color: var(--dark-color);
}

/* header */
header {
    background-color: var(--primary-color);
    border: 1px solid var(--dark-color);
    padding: 20px;

    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

/* navigation */
nav {
    justify-self: right;
}

nav ul {
    list-style: none;
    display: flex;
}

nav a {
    text-decoration: none;
    color: var(--dark-color);
    font-weight: bold;
}

nav ul li a {
    display: inline-block;
    background-color: var(--light-color);
    padding: 10px 20px;
    border: 2px solid var(--dark-color);
    color: var(--dark-color);
}

nav ul li a:hover {
    background-color: var(--hover-color);
}

/* headings */
h1,
h2,
h3 {
    text-align: center;
}

/* social media */
.socialmedia {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 35px;
}

/*  */

/* footer */
footer {
    background-color: var(--primary-color);
    border: 1px solid var(--dark-color);
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer p {
    flex: 1;
    text-align: center;
}

/* responsive */
@media (max-width: 768px) {

    footer {
        flex-direction: column;
        gap: 10px;
    }
}